nav
  a([routerLink]="['/dashboard']" routerLinkActive="active") Dashboard
  a([routerLink]="['/project']" routerLinkActive="active") Project
  a([routerLink]="['/user']" routerLinkActive="active") User
router-outlet